::ng-deep ion-content{
  --background: linear-gradient(-225deg, rgb(82, 113, 196) 0%, rgb(177, 159, 255) 48%, rgb(236, 161, 254) 100%) !important;
	--background-size: 400% 400% !important;
	animation: gradient 15s ease infinite !important;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.input{
    width: 100%;
}
.form{
    width: 100%;
}
.item-native::part(native) {
    border: none !important;    
  }
  .select-class {
    width: 100%;
    background: transparent;
    border: 1px solid #ccc;
    height: 5vh;
    border-radius: 6px;
    color: #fff
  }
  ion-input {
    border: 1px solid lightgray;
    border-radius: 6px;
    color: #fff !important;
  }
.search-row{
  margin-bottom: 3vh;
  width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.accordion-grp{
  padding: 3vh 9vh;

}
.accordion{
  border: 2px solid #fff;
  border-radius: 5px;
  background: transparent;
}
.accordion-label{
  color: #fff !important;
}
.list{
  background: transparent;
}
.search-box{
margin-top: 3vh;
color: #fff;
}
ion-accordion-group{
  ion-accordion {
      .ion-accordion-toggle-icon {
          font-size: 50px;
          color: red;
      }
  }
}
.update::part(native) {
  background: green !important;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
.save-btn{
  text-align: center;
}
.item-interactive::part(native){
  border: 0px !important;
  background: transparent;
  border: none !important;

}
ion-item::part(native) {
  background: transparent !important;
  border: none !important;
}

.search-select{
  text-align: center;
  font-size: 2vh;
  color: #fff !important;
}
.select-options {
  color: #000 !important;
}
input::placeholder {
  color: red;
}
ion-item:not(.item-label) .sc-ion-input-md-h{
  --padding-start: 1vh;
  --color: white !important;
  caret-color: black !important;
}

.no-presets {
  font-size: 24px;
  display: flex;
  justify-content: center;
  color: #fff;
}

.item-native::part(native) {
  display: flex !important;
  flex-direction: column !important;
  border: none !important;
}
.item-bottom::part(native) {
  display: none !important;
}

.form-wrapper {
  display: block !important;
  flex-direction: column !important;
}
.abc{
  width: 100%;
}
.row-add{
  text-align: right;
}
.save-row{
  width: 100%;
  border: none !important;
}


.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  background-color:rgba(0,0,0,0.6) !important;
  opacity: 0;
  cursor: grabbing;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.example-box{
  cursor: grab;

}
