<!-- Basic -->
<ion-content [fullscreen]="true" class="content">
  <ion-accordion-group class="accordion-grp">

    <ion-accordion value="colors" class="accordion">
      <ion-item slot="header">
        <ion-label class="accordion-label">Filters</ion-label>
      </ion-item>

      <ion-list slot="content" class="list">

        <ion-row *ngIf="preSelectList.length > 0 else emptyList" class="search-row">
          <ion-col size="4" class="search-select">Search Select:</ion-col>
          <ion-col size="6">
            <select class="select-class" [(ngModel)]="presetSelected" (change)="onPreselectDDLChange($event)">
              <option class="select-options" value="" selected>Select</option>
              <option class="select-options" [value]="pre?.id" *ngFor="let pre  of preSelectList; let i2 = index">
                {{pre?.filterName}}
              </option>
            </select>
          </ion-col>

        </ion-row>
        <ng-template #emptyList>
          <ion-row>
            <ion-col size="12">
              <ion-text class="no-presets">
                No saved Presests
              </ion-text>
            </ion-col>
          </ion-row>
        </ng-template>
        <ion-row class="search-box">
          <ion-col size="4" class="save-btn">
            <ion-button *ngIf="allSearch()?.controls && allSearch()?.controls.length === 0" (click)="addRow(true)">Add
              Filter</ion-button>
          </ion-col>
        </ion-row>

        <ion-grid class="form-wrapper" style="overflow: overlay; height: 100vh;"
          *ngIf="allSearch()?.controls?.length > 0">
          <form class="" [formGroup]="searchFilterForm">
            <div formArrayName="search">
              <ion-grid cdkDropList (cdkDropListDropped)="drop($event)" class="example-list">
                <ion-row cdkDrag *ngFor="let quantity of allSearch()?.controls; let i = index" [formGroupName]="i"
                  class="example-box">
                  <ion-col size-xs="12" size-sm="1">
                    <ion-button class="update" (click)="removeRow(i)">&minus;</ion-button>
                  </ion-col>
                  <ion-col size-xs="12" size-sm="">
                    <select class="select-class" formControlName="param1"
                      [ngClass]="(!allSearch().controls[i].get('param1').valid && submitted) ? 'error' : ''"
                      (change)="onParam1Change(i)" onchange="">
                      <option class="select-options" value="" selected>select</option>
                      <option class="select-options" [value]="param1?.name"
                        *ngFor="let param1 of searchData; let i= index">{{param1?.name}}

                      </option>
                    </select>
                  </ion-col>
                  <ion-col size-xs="12" size-sm="">
                    <select class="select-class" formControlName="param2" onselect="" (change)="onParam2Change(i)"
                      [ngClass]="!allSearch().controls[i].get('param2')?.valid && submitted ? 'error' : ''">
                      <option class="select-options" [value]="p2.name" *ngFor="let p2  of param2List[i];">
                        {{p2.name}}
                      </option>
                    </select>
                  </ion-col>
                  <ion-col size-xs="12" size-sm="" class="input-wrapper">

                    <ion-input clearInput type="text" class="input-box" formControlName="param3"
                      [ngClass]="!allSearch().controls[i].get('param3')?.valid && submitted ? 'error' : ''"
                      *ngIf="!isDateType(i) else dates">
                      <!-- "(^([0-1]?\d|2[0-3]):([0-5]?\d):([0-5]?\d)$)|(^([0-5]?\d):([0-5]?\d)$)|(^[0-5]?\d$) ""-->


                    </ion-input>

                    <ng-template #dates>

                      <ion-input clearInput class="input-box range" formControlName="param3"
                        [ngClass]="!allSearch().controls[i].get('param3')?.valid && submitted ? 'error' : ''"
                        *ngIf="allSearch().controls[i].get('param2')?.value.toLowerCase() === 'Between'.toLowerCase()" id="{{'datepicker' + i}}">
                      </ion-input>


                      <ion-input clearInput type="date" class="input-box" formControlName="param3"
                        [ngClass]="!allSearch().controls[i].get('param3')?.valid && submitted ? 'error' : ''"
                        *ngIf="allSearch().controls[i].get('param2')?.value.toLowerCase() !== 'Between'.toLowerCase()">
                      </ion-input>
                    </ng-template>

                  </ion-col>
                  <ion-col size-xs="12" size-sm="" class="input"
                    *ngIf="allSearch().controls[i].get('param1')?.value.toLowerCase() ==='Modification Date'.toLowerCase()">
                    <ion-input clearInput type="text" class="input-box" formControlName="param4"
                      [ngClass]="!allSearch().controls[i].get('param4')?.valid && submitted ? 'error' : ''"
                      *ngIf="isDestinationNeeded(i)">
                    </ion-input>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </form>

          <ion-item class="bcd" lines="none">
            <ion-row class="abc">
              <ion-col class="row-add">
                <ion-button (click)="addRow()">Add Row</ion-button>
              </ion-col>
            </ion-row>
          </ion-item>

          <ion-item>
            <ion-row class="btn-group">
              <ion-col size-xs="6" size-sm="6" class="clear-filter">
                <ion-button (click)="clearFilter()" class="clear-btn">Clear Filter</ion-button>
              </ion-col>
              <ion-col size-xs="6" size-sm="6" class="apply-filter">
                <ion-button (click)="applyFilter()" class="apply-btn">Apply Filter</ion-button>
              </ion-col>
            </ion-row>
          </ion-item>


          <ion-item lines="none">
            <ion-row class="save-row ion-align-items-center">
              <ion-col size-xs="12" size-sm="4">
                <ion-input clearInput class="input-box" placeholder="Enter search name" [(ngModel)]="searchParam">
                </ion-input>
              </ion-col>
              <ion-col size-xs="3" size-sm="2" class="save-btn">
                <ion-button [disabled]="searchParam?.length < 1" (click)="savePreselectForm()" class="save">
                  Save</ion-button>
              </ion-col>
              <ion-col class="error-col" size-xs="4" size-sm="3">
                <ion-text><span class="message" id="message">{{message}}</span></ion-text>
              </ion-col>
              <ion-col size-xs="5" size-sm="3" class="save-btn">
                <ion-button class="delete-preset" (click)="deletePreset()">Delete Preset</ion-button>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-grid>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>